
    <!-- About-App-Section-Start -->
    <section class="row_am about_app_section">
      <!-- container start -->
      <div class="container">
      	<!-- row start -->
        <div class="row">
          <div class="col-lg-6">

          	<!-- about images -->
            <div class="about_img aos-init" data-aos="fade-in" data-aos-duration="1500">
              <div class="frame_img">
                <img class="moving_position_animatin" src="/images/about-frame.png" alt="image">
              </div>
              <div class="screen_img">
                <img class="moving_animation" src="/images/about-screen.png" alt="image">
              </div>
            </div>
          </div>
          <div class="col-lg-6">

          	<!-- about text -->
            <div class="about_text">
              <div class="section_title aos-init" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">

              	<!-- h2 -->
                <h2>Some awesome words <span>about app.</span></h2>

                <!-- p -->
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the
                  industrys standard dummy text ever since the when an unknown printer took a galley of type and. Lorem
                  ipsum dolor sit amet.
                </p>
              </div>

              <!-- UL -->
              <ul class="app_statstic aos-init" id="counter" data-aos="fade-in" data-aos-duration="1500">
                <li>
                  <div class="icon">
                    <img src="/images/download.png" alt="image">
                  </div>
                  <div class="text">
                    <p><span class="counter-value" data-count="17">0</span><span>M+</span></p>
                    <p>Download</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img src="/images/followers.png" alt="image">
                  </div>
                  <div class="text">
                    <p><span class="counter-value" data-count="08">0</span><span>M+</span></p>
                    <p>Followers</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img src="/images/reviews.png" alt="image">
                  </div>
                  <div class="text">
                    <p><span class="counter-value" data-count="2300">0</span><span>+</span></p>
                    <p>Reviews</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <img src="images/countries.png" alt="image">
                  </div>
                  <div class="text">
                    <p><span class="counter-value" data-count="150">0</span><span>+</span></p>
                    <p>Countries</p>
                  </div>
                </li>
              </ul>
              <!-- UL end -->
              <a href="contact.html" class="btn puprple_btn aos-init" data-aos="fade-in" data-aos-duration="1500">START FREE TRIAL</a>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>
    <!-- About-App-Section-end -->