
    <!-- Banner-Section-Start -->
    <section class="banner_section">
      <!-- hero bg -->
      <div class="hero_bg"> <img src="/images/hero-bg.png" alt="image"> </div>
      <!-- container start -->
      <div class="container">
        <!-- row start -->
        <div class="row">
          <div class="col-lg-6 col-md-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1500">
          	<!-- banner text -->
            <div class="banner_text">
              <!-- h1 -->
              <h1>Best way to <span>manage your customers.</span></h1>
              <!-- p -->
              <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.
              </p>
            </div>

            <div class="trial_box">
              <!-- form -->
              <form action="" data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" class="aos-init aos-animate">
                  <div class="form-group">
                      <input type="email" class="form-control" placeholder="Enter your email">
                  </div>
                  <div class="form-group">
                      <button class="btn">SUBMIT</button>
                  </div>
              </form>
          </div>

          <!-- list -->
          <div class="trial_box_list">
              <ul>
                <li><i class="icofont-check-circled"></i> Free trial 14 days</li>
                <li><i class="icofont-check-circled"></i> No credit card require</li>
              </ul>
          </div>

            <!-- users -->
            <div class="used_app">
              <ul>
                <li><img src="/images/used01.png" alt="image"></li>
                <li><img src="/images/used02.png" alt="image"></li>
                <li><img src="/images/used03.png" alt="image"></li>
                <li><img src="/images/used04.png" alt="image"></li>
              </ul>
              <p>12M + <br> used this app</p>
            </div>
          </div>

          <!-- banner images start -->
          <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500">
            <div class="banner_images image_box1">
                <span class="banner_image1"> <img class="moving_position_animatin" src="/images/bannerimage1.png" alt="image"> </span>
                <span class="banner_image2"> <img class="moving_animation" src="/images/bannerimage2.png" alt="image"> </span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-in" data-aos-duration="1500">
            <div class="banner_images image_box2">
                <span class="banner_image3"> <img class="moving_animation" src="/images/bannerimage3.png" alt="image"> </span>
                <span class="banner_image4"> <img class="moving_position_animatin" src="/images/bannerimage4.png" alt="image"> </span>
            </div>
          </div>
          <!-- banner slides end -->

        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>
    <!-- Banner-Section-end -->