<!-- Beautifull-interface-Section start -->
    <section class="row_am interface_section">
	  <!-- container start -->
      <div class="container-fluid">
        <div class="section_title aos-init" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
            <!-- h2 -->
            <h2>Beautifull <span>interface</span></h2>
            <!-- p -->
            <p>
              Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe standard dummy.
            </p>
        </div>

          <!-- screen slider start -->
          <div class="screen_slider">
            <div id="screen_slider" class="owl-carousel owl-theme owl-loaded owl-drag">
              
              
              
              
              
              
          <div class="owl-stage-outer"><div class="owl-stage" style="transition: 2.5s; width: 4728px; transform: translate3d(-3152px, 0px, 0px);"><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-4.png" alt="image">
                </div>
              </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-5.png" alt="image">
                </div>
              </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-3.png" alt="image">
                </div>
              </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-1.png" alt="image">
                </div>
              </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-2.png" alt="image">
                </div>
              </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-3.png" alt="image">
                </div>
              </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-4.png" alt="image">
                </div>
              </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-5.png" alt="image">
                </div>
              </div></div><div class="owl-item active center" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-3.png" alt="image">
                </div>
              </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-1.png" alt="image">
                </div>
              </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-2.png" alt="image">
                </div>
              </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
                <div class="screen_frame_img">
                    <img src="/images/screen-3.png" alt="image">
                </div>
              </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>
          </div>
          <!-- screen slider end -->
      </div>
      <!-- container end -->
    </section>
    <!-- Beautifull-interface-Section end -->