
    <!-- Testimonial-Section start -->
    <section class="row_am testimonial_section"> 
      <!-- container start -->
      <div class="container">
        <div class="section_title aos-init" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          <!-- h2 -->
          <h2>What our <span>customer say</span></h2>
          <!-- p -->
          <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe
            standard dummy.</p>
        </div>
        
        
        <div class="testimonial_block aos-init" data-aos="fade-in" data-aos-duration="1500">
          <div id="testimonial_slider" class="owl-carousel owl-theme owl-loaded owl-drag">
          	<!-- user 1 -->
            

            <!-- user 2 -->
            
            
            <!-- user 3 -->
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1576px, 0px, 0px); transition: 2.5s; width: 2758px;"><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user2.png" alt="image">
                </div>
                <h3>Willium Den</h3>
                <span class="designation">Careative inc</span>
              </div>
            </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user3.png" alt="image">
                </div>
                <h3>Cyrus Stephen</h3>
                <span class="designation">Careative inc</span>
              </div>

            </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user1.png" alt="image">
                </div>
                <h3>Shayna John</h3>
                <span class="designation">Careative inc</span>
              </div>
            </div></div><div class="owl-item" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user2.png" alt="image">
                </div>
                <h3>Willium Den</h3>
                <span class="designation">Careative inc</span>
              </div>
            </div></div><div class="owl-item active" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user3.png" alt="image">
                </div>
                <h3>Cyrus Stephen</h3>
                <span class="designation">Careative inc</span>
              </div>

            </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user1.png" alt="image">
                </div>
                <h3>Shayna John</h3>
                <span class="designation">Careative inc</span>
              </div>
            </div></div><div class="owl-item cloned" style="width: 384px; margin-right: 10px;"><div class="item">
              <div class="testimonial_slide_box">
                <div class="rating">
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                  <span><i class="icofont-star"></i></span>
                </div>
                <p class="review">
                  “ Lorem Ipsum is simply dummy text of the printing and typese tting us orem Ipsum has been lorem
                  beenthe standar dummy. ”
                </p>
                <div class="testimonial_img">
                  <img src="/images/testimonial_user2.png" alt="image">
                </div>
                <h3>Willium Den</h3>
                <span class="designation">Careative inc</span>
              </div>
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button></div></div>

          <!-- total review -->
          <div class="total_review">
            <div class="rating">
              <span><i class="icofont-star"></i></span>
              <span><i class="icofont-star"></i></span>
              <span><i class="icofont-star"></i></span>
              <span><i class="icofont-star"></i></span>
              <span><i class="icofont-star"></i></span>
              <p>5.0 / 5.0</p>
            </div>
            <h3>2578</h3>
            <a href="reviews.html">TOTAL USER REVIEWS <i class="icofont-arrow-right"></i></a>
          </div>

          <!-- avtar faces -->
          <div class="avtar_faces">
            <img src="/mages/avtar_testimonial.png" alt="image">
          </div>
        </div>
      </div>
      <!-- container end -->
    </section>
    <!-- Testimonial-Section end -->