<section class="banner_section">
     
    
    <!-- container start -->
      <div class="container">
      	<!-- vertical animation line -->
        <!-- <div class="anim_line">
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
            <span><img src="images/anim_line.png" alt="anim_line"></span>
        </div>
        -->
       
       
        <!-- row start -->
        <div class="row">
          <div class="col-lg-6 col-md-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1500">
          	<!-- banner text -->
            <div class="banner_text">
              <!-- h1 -->
              <h1>Best way to <span>manage your customers.</span></h1>
              <!-- p -->
              <p>Lorem Ipsum is simply dummy text of the printing and setting indus orem Ipsum has been the industrys.
              </p>
            </div>
            <!-- app buttons -->
            <ul class="app_btn">
              <li>
                <a href="#">
                  <img class="blue_img" src="images/appstore_blue.png" alt="image">
                  <img class="white_img" src="images/appstore_white.png" alt="image">
                </a>
              </li>
              <li>
                <a href="#">
                  <img class="blue_img" src="images/googleplay_blue.png" alt="image">
                  <img class="white_img" src="images/googleplay_white.png" alt="image">
                </a>
              </li>
            </ul>

            <!-- users -->
            <div class="used_app">
              <ul>
                <li><img src="images/used01.png" alt="image"></li>
                <li><img src="images/used02.png" alt="image"></li>
                <li><img src="images/used03.png" alt="image"></li>
                <li><img src="images/used04.png" alt="image"></li>
              </ul>
              <p>12M + <br> used this app</p>
            </div>
          </div>

          <!-- banner slides start -->
          <div class="col-lg-6 col-md-12 aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500">
            <div class="banner_slider">
              <div class="left_icon">
                <img src="images/message_icon.png" alt="image">
              </div>
              <div class="right_icon">
                <img src="images/shield_icon.png" alt="image">
              </div>
              <div id="frmae_slider" class="owl-carousel owl-theme owl-loaded owl-drag">
                
                
                
              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-945px, 0px, 0px); transition: 1.5s; width: 2205px;"><div class="owl-item cloned" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div><div class="owl-item cloned" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div><div class="owl-item" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div><div class="owl-item active" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div><div class="owl-item" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div><div class="owl-item cloned" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div><div class="owl-item cloned" style="width: 305px; margin-right: 10px;"><div class="item">
                  <div class="slider_img">
                    <img src="images/screen.png" alt="image">
                  </div>
                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
              <div class="slider_frame">
                <img src="images/mobile_frame_svg.svg" alt="image">
              </div>
            </div>
          </div>
          <!-- banner slides end -->

        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>