<!-- How-It-Workes-Section-Start -->
    <section class="row_am how_it_works" id="how_it_work">
      <!-- container start -->
      <div class="container">
        <div class="how_it_inner">
          <div class="section_title aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300">
          	<!-- h2 -->
            <h2><span>How it works</span> - 3 easy steps</h2>
            <!-- p -->
            <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe
              standard dummy.</p>
          </div>
          <div class="step_block">
          	<!-- UL -->
            <ul>
              <!-- step -->
              <li>
                <div class="step_text aos-init aos-animate" data-aos="fade-right" data-aos-duration="1500">
                  <h4>Download app</h4>
                  <div class="app_icon">
                    <a href="#"><i class="icofont-brand-android-robot"></i></a>
                    <a href="#"><i class="icofont-brand-apple"></i></a>
                    <a href="#"><i class="icofont-brand-windows"></i></a>
                  </div>
                  <p>Download App either for Windows, Mac or Android</p>
                </div>
                <div class="step_number">
                  <h3>01</h3>
                </div>
                <div class="step_img aos-init aos-animate" data-aos="fade-left" data-aos-duration="1500">
                  <img src="/images/download_app.jpg" alt="image">
                </div>
              </li>

              <!-- step -->
              <li>
                <div class="step_text aos-init aos-animate" data-aos="fade-left" data-aos-duration="1500">
                  <h4>Create account</h4>
                  <span>14 days free trial</span>
                  <p>Sign up free for App account. One account for all devices.</p>
                </div>
                <div class="step_number"> 
                  <h3>02</h3>
                </div>
                <div class="step_img aos-init aos-animate" data-aos="fade-right" data-aos-duration="1500">
                  <img src="/images/create_account.jpg" alt="image">
                </div>
              </li>

              <!-- step -->
              <li>
                <div class="step_text aos-init aos-animate" data-aos="fade-right" data-aos-duration="1500">
                  <h4>It’s done, enjoy the app</h4>
                  <span>Have any questions check our <a href="#">FAQs</a></span>
                  <p>Get most amazing app experience,Explore and share the app</p>
                </div>
                <div class="step_number">
                  <h3>03</h3>
                </div>
                <div class="step_img aos-init aos-animate" data-aos="fade-left" data-aos-duration="1500">
                  <img src="/images/enjoy_app.jpg" alt="image">
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- video section start -->
        <div class="yt_video aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500">
         <!-- animation line -->
          <div class="anim_line dark_bg">
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
            <span><img src="/images/anim_line.png" alt="anim_line"></span>
          </div>
          <div class="thumbnil">
            <img src="/images/yt_thumb.png" alt="image">
            <a class="popup-youtube play-button" data-url="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&amp;mute=1" data-toggle="modal" data-target="#myModal" title="XJj2PbenIsU">
              <span class="play_btn">
                <img src="images/play_icon.png" alt="image">
                <div class="waves-block">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </div>
              </span>
              Let’s see virtually how it works
              <span>Watch video</span>
            </a>
          </div>
        </div>
        <!-- video section end -->
      </div>
      <!-- container end -->
    </section>
    <!-- How-It-Workes-Section-end -->