 <!-- ModernUI-Section-Start -->
    <section class="row_am modern_ui_section">
      <!-- container start -->
      <div class="container">
      	<!-- row start -->
        <div class="row">
          <div class="col-lg-6">
          	<!-- UI content -->
            <div class="ui_text">
              <div class="section_title aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
                <h2>Beautiful design with <span>modern UI</span></h2>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the
                  industrys standard dummy text ever since the when an unknown printer took a galley of type and.
                </p>
              </div>
              <ul class="design_block">
                <li data-aos="fade-up" data-aos-duration="1500" class="aos-init aos-animate">
                  <h4>Carefully designed</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and type esetting industry lorem Ipsum has.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="1500" class="aos-init aos-animate">
                  <h4>Seamless Sync</h4>
                  <p>Simply dummy text of the printing and typesetting inustry lorem Ipsum has Lorem dollar summit.</p>
                </li>
                <li data-aos="fade-up" data-aos-duration="1500" class="aos-init aos-animate">
                  <h4>Access Drive</h4>
                  <p>Printing and typesetting industry lorem Ipsum has been the industrys standard dummy text of type
                    setting.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
          	<!-- UI Image -->
            <div class="ui_images aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500">
              <div class="left_img">
                <img class="moving_position_animatin" src="images/modern01.png" alt="image">
              </div>
              <!-- UI Image -->
              <div class="right_img">
                <img class="moving_position_animatin" src="/images/secure_data.png" alt="image">
                <img class="moving_position_animatin" src="/images/modern02.png" alt="image">
                <img class="moving_position_animatin" src="/images/modern03.png" alt="image">
              </div>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->
    </section>
    <!-- ModernUI-Section-end -->