<!-- Trusted Section start -->
    <section class="row_am trusted_section">
      <!-- container start -->
      <div class="container">
        <div class="section_title aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="100">
          <!-- h2 -->
          <h2>Trusted by <span>150+</span> companies</h2>
          <!-- p -->
          <p>Lorem Ipsum is simply dummy text of the printing and typese tting <br> indus orem Ipsum has beenthe
            standard dummy.</p>
        </div>

        <!-- logos slider start -->
        <div class="company_logos">
          <div id="company_slider" class="owl-carousel owl-theme owl-loaded owl-drag">  
            
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1182px, 0px, 0px); transition: 1.5s; width: 3152px;"><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/envato.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/paypal.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/spoty.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/shopboat.png" alt="image">
              </div>
            </div></div><div class="owl-item" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/paypal.png" alt="image">
              </div>
            </div></div><div class="owl-item" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/spoty.png" alt="image">
              </div>
            </div></div><div class="owl-item active" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/shopboat.png" alt="image">
              </div>
            </div></div><div class="owl-item active" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/slack.png" alt="image">
              </div>
            </div></div><div class="owl-item" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/envato.png" alt="image">
              </div>
            </div></div><div class="owl-item" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/paypal.png" alt="image">
              </div>
            </div></div><div class="owl-item" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/spoty.png" alt="image">
              </div>
            </div></div><div class="owl-item" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/shopboat.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/paypal.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/spoty.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/shopboat.png" alt="image">
              </div>
            </div></div><div class="owl-item cloned" style="width: 187px; margin-right: 10px;"><div class="item">
              <div class="logo">
                <img src="/images/slack.png" alt="image">
              </div>
            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
        </div>
        <!-- logos slider end -->
      </div>
      <!-- container end -->
    </section>
    <!-- Trusted Section ends -->